{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}timln - Dashboard{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ render_chart(chart) }}
</div>
{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('app') }}
 {% endblock %}
