{% extends 'base.html.twig' %}

{% block title %}timln - Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">Arbeitszeitkonto</div>
                    <div class="card-body">
                        +8 h
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">Urlaubskonto</div>
                    <div class="card-body">
                        12 / 30
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">Kranktage</div>
                    <div class="card-body">
                        16
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>
{% endblock %}


